/NeuroML2/*.mod
/NeuroML2/*.hoc
/NeuroML2/*_nrn.py
/NeuroML2/*.spikes
x86_64
/NeuroML2/*.dat
/NeuroML2/report.*.txt
/NeuroML2/LEMS_SimHNN_inputs.xml
/NeuroML2/nmllite/*.hoc
*_nrn.py
*.gv*
/NeuroML2/nmllite/*.mod
report.*.txt
/NeuroML2/nmllite/*.dat
/NeuroML2/nmllite/CELL_HH_reduced_L2Pyr.cell.nml
/NeuroML2/nmllite/CELL_HH_reduced_L5Pyr.cell.nml
/NeuroML2/nmllite/HNN_Synapses.nml
/NeuroML2/nmllite/LEMS_SimBigNet.xml
/NeuroML2/nmllite/*.spikes
/NeuroML2/nmllite/inputs.nml
/NeuroML2/nmllite/k_hh.channel.nml
/NeuroML2/nmllite/leak_hh.channel.nml
/NeuroML2/nmllite/na_hh.channel.nml
*_netpyne.py
/NeuroML2/nmllite/BigNet.net.png
/NeuroML2/nmllite/Sim*.json
/NeuroML2/nmllite/LEMS*.xml
/NeuroML2/clean.sh
/NeuroML2/nmllite/clean.sh
/NeuroML2/nmllite/CELL_HH_simple_L2Basket.cell.nml
/NeuroML2/nmllite/CELL_HH_simple_L5Basket.cell.nml
